;;; -*- emacs-lisp -*-
;;; package --- pre-customize.el
;;; Commentary:
;;; Code:

(require 'package)

(setq package-archives nil)
(add-to-list 'package-archives '("gnu" . "/opt/elpa/gnu/"))
(add-to-list 'package-archives '("org" . "/opt/elpa/org/"))
(add-to-list 'package-archives '("melpa" . "/opt/elpa/melpa/"))
(add-to-list 'package-archives '("melpa-stable" . "/opt/elpa/melpa-stable/"))
(add-to-list 'package-archives '("marmalade" . "/opt/elpa/marmalade/"))

;; set emacs customize file
(setq custom-file (expand-file-name ".emacs-custom.el" user-emacs-directory))

(defvar +tool-bar-mode+ t)
(defvar +menu-bar-mode+ t)
(defvar +blink-cursor-mode+ t)
(defvar +scroll-bar-mode+ t)

(setq *mac-scale-amount* 0
      *linux-scale-amount* 0)

(setq *load-slime* nil)

(setq org-agenda-files '("some org files"))
(setq *calendar-longitude* 0)
(setq *calendar-latitude* 0)
(setq *diary-file* "diary file")

(setq *gkroam-default-root-dir* "~/gkroam")

(setq org-agenda-files '("~/file1.org"))

(setq *annotate-file* "~/.emacs.d/annotations")

;; socks5 proxy
(setq *socks5-proxy-server* "127.0.0.1")
(setq *socks5-proxy-port* 1080)

(provide 'pre-customize)
;;; pre-customize.el ends here