;;; -*- emacs-lisp -*-
;;; package --- post-customize.el
;;; Commentary:
;;; Code:

;; erc
(setq erc-nick user-full-name)
(setq erc-default-server "127.0.0.1")
(setq erc-default-port 6667)
(setq erc-nick "雷少")

(add-to-list 'yas-snippet-dirs (expand-file-name "~/snippets"))

(provide 'post-customize)
;;; post-customize.el ends here
